footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}